/*
    StripperParser output syntax highlight styles
 */

/* container and meta stuff */

.stripper-highlight {
    font-family: courier new, monospace;
    font-size: 10pt;
    line-height: 1.2em;
    color: #444;
    min-width: 700px;
}

.stripper-highlight .line-number {
    color: #888;
    font-size: 8pt;
}

.stripper-highlight a.color-preview {
    position: relative;
    text-decoration: underline;
    color: #0022ff;
    font-weight: bold;
}
.stripper-highlight a.color-preview:hover,
  .stripper-highlight a.color-preview:active {
    text-decoration: none;
    color: #0011ee;
}

.stripper-highlight .color-preview-tooltip {
    position: absolute;
    display: none;
    left: 60px;
    top: 20px;
    width: 64px;
    height: 64px;
    border: 2px solid #fff;
    background-color: #000;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
    box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

.stripper-highlight a.color-preview:hover .color-preview-tooltip {
    display: block;
}


/* content */

.stripper-highlight .stripper-syntaxerror {
    color: #B12217;
}

.stripper-highlight .stripper-comment {
    font-style: italic;
    color: #999;
}

.stripper-highlight .stripper-modifier {
    font-weight: bold;
    color: #417E03;
}
.stripper-highlight .stripper-modifier-unexpected {
    font-weight: normal;
    color: #C84100;
}


.stripper-highlight .stripper-property {
    /* untested property */
    color: #776C56;
}

.stripper-highlight .stripper-property-known {
    color: #2383CC;
}

.stripper-highlight .stripper-property-unknown {
    color: #B5483E;
}

.stripper-highlight .stripper-value {
    color: #475E73;
}

.stripper-highlight .stripper-value-invalid {
    color: #C84100;
}

.stripper-highlight .stripper-value-untested {
    color: #776C56;
}

